#WARNING: DO NOT PUT QUOTES FOR VALUES BELOW
[General]
	checkInterval=5
	ftpFile=FTPCHECK.txt
	ftpFileHash=da39a3ee5e6b4b0d3255bfef95601890afd80709
	ftpUSR=anonymous
	ftpPWD=anonymous
	ftpPath=/home/client/
	serverFTPDir=/home/server/Desktop
	apacheCheck=Erdie
	apacheWebsite=index.html
	dataDirectory=/home/server/Desktop/data/
	mySQL_Query="SELECT name, address FROM customers"
	smbUSR=test
	smbPWD=test
	smbSHR=sambashare
	smbSHRFile=CustomerData.txt
	sshUSR=test
	sshPWD=test
	smbPRT=22
	mysqlPWD=HotPockets1
[Injects]
#SMB
	#1-->download teamname.txt from smbSHR
	#2-->download smbSHRFile from the sambashare
	smbCurrInject=1
#SSH
	#1-->check for connectivity
	sshCurrInject=1
#APACHE2
	#1-->Check string for apacheCheck
	apacheCurrInject=1

[Desc]
	Inject1="Linux - Add the file "CustomerData.txt" to the sambashare "sambashare"
	Inject2="Linux2 - Change the default SSH port to 2222"
	Inject3="Linux3 - Change the Apache2 Checkstring to CheckString13"
	Inject4="Linux4 - Configure the sambashare named sambashare on Suriya"
	Inject5="Linux5 - Add the file "Knadene(idk how 2 spell)... from suriya Desktop onto ahri's sambashare named sambashare""

[Teams]
	Team1=Vallejo
	VallejoScoreSMB=False
	VallejoScoreRDP=False
	VallejoScoreVNC=False
	VallejoScoreApache=False
	VallejoScorePing=True
	VallejoScoreMysql=False
	VallejoScoreVSFTPD=False
	VallejoScoreSSH=False
	VallejoScoreSMTP=False
	VallejoScoreDNS=False
	
	Team2=SantaCruz
	SantaCruzScoreSMB=False
	SantaCruzScoreRDP=False
	SantaCruzScoreVNC=False
	SantaCruzScoreApache=False
	SantaCruzScorePing=True
	SantaCruzScoreMysql=False
	SantaCruzScoreVSFTPD=False
	SantaCruzScoreSSH=False
	SantaCruzScoreSMTP=False
	SantaCruzScoreDNS=False
