#WARNING: DO NOT PUT QUOTES FOR VALUES BELOW
[General]
	checkInterval=5
	ftpFile=FTPCHECK.txt
	ftpFileHash=da39a3ee5e6b4b0d3255bfef95601890afd80709
	ftpUSR=anonymous
	ftpPWD=anonymous
	ftpPath=/home/client/
	serverFTPDir=/home/server/Desktop
	apacheCheck=Erdie
	apacheWebsite=index.html
	apachePRT=80
	dataDirectory=/home/server/Desktop/data/
	mySQL_Query="SELECT name, address FROM customers"
	smbUSR=Linux
	smbPWD=Linux
	smbSHR=sambashare
	smbSHRFile=CustomerData.txt
	sshUSR=cyber
	sshPWD=cyber
	smbPRT=22
	mySQL_PWD=HotPockets1
[Injects]
#SMB
	#1-->Banner grab and Linux samba
	#2-->download $smbSHRFile from the $smbSHR
	smbCurrInject=1
#SSH
	#1-->check for connectivity on $sshPRT
	sshCurrInject=1
#APACHE2
	#1-->Check website for apacheCheck
	apacheCurrInject=1
#SMTP
	#1-->Banner grab for FTP
	smtpCurrInject=1
#RDP
	#1-->
	rdpCurrInject=1
#MYSQL
	#1-->See if mysql port open
	#2-->Run $mySQL Query
	mysqlCurrInject=1
#DNS
	#1-->Check for A record
	dnsCurrInject=1
#VNC
	#1-->Scan for VNC port
	vncCurrInject=1
#FTP
	#1-->Banner grab FTP
	#2-->Download file via FTP
	ftpCurrInject=1	

[Desc]
	Inject1="Linux - Add the file "CustomerData.txt" to the sambashare "sambashare"
	Inject2="Linux2 - Change the default SSH port to 2222"
	Inject3="Linux3 - Change the Apache2 Checkstring to CheckString13"
	Inject4="Linux4 - Configure the sambashare named sambashare on Suriya"
	Inject5="Linux5 - Add the file "Knadene(idk how 2 spell)... from suriya Desktop onto ahri's sambashare named sambashare""

[Teams]
	Team1=Irvine
	IrvineScore_internet=True
	IrvineScore_apache=True
	IrvineScore_samba=True
	IrvineScore_ssh=True
	IrvineScore_rdp=False
	IrvineScore_vnc=True
	IrvineScore_mysql=False
	IrvineScore_ftp=True
	IrvineScore_smtp=False
	IrvineScore_dns=False
	
	Team2=Vallejo
	VallejoScore_internet=True
	VallejoScore_apache=True
	VallejoScore_samba=True
	VallejoScore_ssh=True
	VallejoScore_rdp=False
	VallejoScore_vnc=False
	VallejoScore_mysql=False
	VallejoScore_ftp=True
	VallejoScore_smtp=False
	VallejoScore_dns=False
	
	Team3=Berkely
	BerkelyScore_internet=True
	BerkelyScore_apache=True
	BerkelyScore_samba=True
	BerkelyScore_ssh=True
	BerkelyScore_rdp=False
	BerkelyScore_vnc=True
	BerkelyScore_mysql=False
	BerkelyScore_ftp=True
	BerkelyScore_smtp=False
	BerkelyScore_dns=False
	
	Team4=Oakland
	OaklandScore_internet=True
	OaklandScore_apache=True
	OaklandScore_samba=True
	OaklandScore_ssh=True
	OaklandScore_rdp=False
	OaklandScore_vnc=False
	OaklandScore_mysql=False
	OaklandScore_ftp=True
	OaklandScore_smtp=False
	OaklandScore_dns=False
	
	Team5=Fresno
	FresnoScore_internet=True
	FresnoScore_apache=True
	FresnoScore_samba=True
	FresnoScore_ssh=True
	FresnoScore_rdp=False
	FresnoScore_vnc=True
	FresnoScore_mysql=False
	FresnoScore_ftp=True
	FresnoScore_smtp=False
	FresnoScore_dns=False
	
	Team6=Sacramento
	SacramentoScore_internet=True
	SacramentoScore_apache=True
	SacramentoScore_samba=True
	SacramentoScore_ssh=True
	SacramentoScore_rdp=False
	SacramentoScore_vnc=False
	SacramentoScore_mysql=False
	SacramentoScore_ftp=True
	SacramentoScore_smtp=False
	SacramentoScore_dns=False
	
	Team7=Santacruz
	SantacruzScore_internet=True
	SantacruzScore_apache=True
	SantacruzScore_samba=True
	SantacruzScore_ssh=True
	SantacruzScore_rdp=False
	SantacruzScore_vnc=True
	SantacruzScore_mysql=False
	SantacruzScore_ftp=True
	SantacruzScore_smtp=False
	SantacruzScore_dns=False
	
	Team8=Workstation
	WorkstationScore_internet=True
	WorkstationScore_apache=True
	WorkstationScore_samba=True
	WorkstationScore_ssh=True
	WorkstationScore_rdp=False
	WorkstationScore_vnc=False
	WorkstationScore_mysql=False
	WorkstationScore_ftp=True
	WorkstationScore_smtp=False
	WorkstationScore_dns=False
	
